body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: #caf0f8;
}
.mainbody {
  /* height: 100vh; */
}
.c_tik {
  border: 1px solid #1d3557;
  height: 11rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 2px;
  background: #a8dadc;
}
h2 {
  color: #03045e;
  font-weight: bold;
}
h3 {
  color: #023e8a;
}
.timestamp {
  color: rgb(46, 14, 14);
}
.ovflow {
  overflow: hidden; /* make sure it hides the content that overflows */
  white-space: nowrap; /* don't break the line */
  text-overflow: ellipsis; /* give the beautiful '...' effect */
}
.DECREASING {
  color: red;
  font-weight: bold;
}
.INCREASING {
  color: green;
  font-weight: bold;
}

.dark {
  background: black;
}
.dark .c_tik {
  background: rgb(15, 1, 53);
}
.dark h2 {
  color: #eee;
}
.dark .timestamp {
  color: #aaa;
}
.close {
  font-size:1.2rem;
  color:red;
  font-weight: bold;
  opacity: 1;
}
.closeIcon {
  position: absolute;
  right: 25px;
  top: 35px;
}
/* .c_tik {
  transition: 1s;
}
.c_tik.ng-enter {
  background: #b7cabb;
}
.c_tik.ng-enter.ng-enter-active {
  background: #a8dadc;
} */
